# compressed file
*.tar.gz
*.gz

# .txt
*.txt

# .exe
*.exe

# .csv
*.csv

# .json
*.json

# .cfg
*.cfg

# .toml
*.toml

# __pycache__
__pycache__

# mypackage
mypackage
mypackage.egg-info

# dist
dist